html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  background: rgb(106, 219, 217);
  font-family: 'Roboto', Helvetica, Calibri, sans-serif;
}

div#header {
  width: 100%;
  height: 120px;
  padding: 0px;
  background: rgb(44, 91, 91);
  box-shadow: 0px 0px 10px 10px rgba(72, 91, 91, 0.7);
}

div#tab-container {
  color: white;
  text-align: center;
  position: relative;
}

div.tab {
  width: 150px;
  height: 80px;
  margin-top: 40px;
  display: inline-block;
  background: rgba(176, 225, 224, 0.9);
  border: 4px solid  rgba(72, 91, 91, 0.7);
  border-bottom: 0px;
  position: relative;
  font-weight: 700;
  font-size: 1.7em;
  text-shadow: -1px -1px rgba(44, 91, 91, 0.7);
  cursor: pointer;
  
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  
  transition-property: background, border-color, heigth, margin;
  -moz-transition-property: background, border-color, heigth, margin;
  -webkit-transition-property: background, border-color, heigth, margin;
  -o-transition-property: background, border-color, heigth, margin;
  
  transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  
  transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
}

div.tab:hover {
  height: 100px;
  margin-top: 20px;
  background: rgba(223, 177, 164, 0.9);
  border-color: rgba(168, 72, 65, 0.7);
}

div#tab-container .selected {
  background: rgba(223, 177, 164, 0.9);
  border-color: rgba(168, 72, 65, 0.7);
}

div.first-tab {
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-left-radius: 20px;
}

div.last-tab {
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  border-top-right-radius: 20px;
}

div.tab-containers {
  width: 100%;
  padding: 0px 5px;
  position: absolute;
  bottom: -6px;
  
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

div#hellen-container {
  text-align: left;
}

div#us-container {
  text-align: center;
}

div#ron-container {
  text-align: right;
}

div#language-container {
  position: absolute;
  top: 0px;
  right: 0px;
}

div#current-language {
  width: 50px;
  height: 50px;
  float: right;
}

div#current-language img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

div#language-container #available-languages {
  width: 90px;
  height: 90px;
  
}

div#language-container #available-languages .img-containers {
  width: 26px;
  height: 26px;
  
  position: absolute;
  
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  border-radius: 26px;
}

div#language-container #available-languages .img-containers:hover {
  //border: 2px solid rgba(223, 177, 164, 0.9);
}

div#language-container #available-languages #indonesian {
  top: 5px;
  left: 5px;
}

div#language-container #available-languages #english {
  bottom: 15px;
  left: 15px;
}

div#language-container #available-languages #dutch {
  bottom: 5px;
  right: 5px;
}

div#language-container #available-languages .img-containers img {
  width: 100%;
  height: 100%;
}

div#language-container #available-languages .selected {
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.7);
}

